<!DOCTYPE html>

<html>
	<head>
		<title>Udacity Templates!</title>
				<meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
        	<link rel="stylesheet" href="static/css/style.css">
	</head>

	<body>
		<div>
			<h1 style=" font-family: sans-serif; margin: 0 height: 50px; text-align: center;">
			Learning Programming
			</h1>
			<br>
		</div>
		 <div>
  			<ul class="navbar">
  				<li class="navbar"><a class="navbar" id="head" href="/notes#1">Lesson 1</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#2">Lesson 2</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#3">Lesson 3</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#4">Lesson 4</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#5">Lesson 5</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#6">Lesson 6</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#7">Lesson 7</a></li>
  				<li class="navbar"><a class="navbar" id="head" href="/notes#8">Lesson 8</a></li>
  			</ul>
  		</div>
  		<br>
		<br>
		{% block content %}
		{% endblock%}
			
	</body>


</html>
